test_project/development.py
test_project/staging.py
test_project/production.py
test_project/nmerkulov_development.py
reports
*sqlite3
error.log
buildout.cfg
.installed.cfg
bin**
eggs**
develop-eggs**
parts**
**.pyc**
**.idea**
**.sass-cache**
**uploads_versions/**
**~
mail_dump**
**.kate-swp
**.directory
**uploads**
