- extends 'base.haml'
- load i18n

- block breadcrumbs
	%ul.breadcrumb
		%li
			- include 'home_link.haml'
		%li
			%a{'href': '{% url simpleforum_index %}'}
				{% trans "Forum" %}
		%li
			%a{'href': '{% url simpleforum_room room.pk %}'}
				= room

- block caption
	= room

- block content
	- if room.description
		.description
			= room.description|safe
	{% trans "Room is empty" as empty_list_message %}
	- with list_class="room" rooms=room.children.all
		- include 'simpleforum/snippets/room_list.haml'