- load fb_versions
- if images
	%ul.attached_images.images.thumbnails
		- for attached_image in images
			- with image=attached_image.image
				%li
					%a.thumbnail{'class': 'version version{{size}}', 'href': '{% if href_version_size %}{% version image.path href_version_size %}{% else %}{{ image.url }}{% endif %}'}
						%img{'alt':'{{ attached_image.title }}', 'title': '{{ attached_image.title }}', 'src': '{% version image.path size %}'}